* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background-color: #001e4d;
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
}

.app h1 {
    font-weight: bold;
    color: #001e4d;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
    border-radius: 2px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    padding-bottom: 20px;
}

.btn {
    background-color: #fff;
    color: #222;
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    border: 1px solid #222;
    cursor: pointer;
    border-radius: 2px;
}

.btn:hover:not([disabled]) {
    transition: 0.3s ease-in;
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor:no-drop;
}

#next {
    background-color: #001e4d;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    margin: 10px 0;
    border: none;
    display: none;
    border-radius: 2px;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393;
}

#timer {
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-align: right;
    margin: 10px 0;
}