* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'sans-serif'; 
}

body {
    background-color: #001e4d;
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
}